@model List<Product>
<!-- new arrivals section start -->
<section class="product_section home2_product_sec" data-aos="fade-up" data-aos-duration="2000">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product_sec_content">
                    <div class="product_sec_sub_title d-flex align-items-center pb-2">
                        <i class="far fa-circle"></i>
                        <i class="far fa-circle"></i>
                        <i class="far fa-circle"></i>
                        <span class="ps-1">YENİ GELENLER</span>
                    </div>
                    <h2 class="product_sec_title pb-3">Yeni Eklenen Ürünler</h2>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-end">
                <a href="/Shop/ShopList">
                    <button type="button" class="btn custom_btn rounded-pill px-4 py-2 text-white">
                        Daha Fazla Keşfet <i class="fas fa-long-arrow-alt-right"></i>
                    </button>
                </a>
            </div>
        </div>
        <div class="row g-4">
            @foreach (var x in Model)
            {
                <div class="col-sm-6 col-md-6 col-xl-3">
                    <div class="product_layout_2 overflow-hidden position-relative">
                        <div class="product_layout_content bg-white position-relative">
                            <div class="product_image_wrap">
                                <a class="product_image d-flex justify-content-center align-items-center" href="/Shop/ShopList">
                                    <img class="pic-1" src="@x.ImageUrl" alt="Organik Domates">
                                    <img class="pic-2" src="@x.ImageUrl" alt="Organik Domates">
                                </a>
                                <ul class="product_badge_group ul_li_block">
                                    @if (x.IsOrganic == true)
                                    {
                                        <li>
                                            <span class="product_badge badge_organic rounded-pill text-uppercase"
                                                  style="background:#5cb85c;
                         color:white;
                         font-size:10px;
                         padding:3px 8px;
                         position:absolute;
                         bottom:10px;
                         left:10px;
                         z-index:2;">
                                                <i class="fas fa-leaf me-1"></i>Organik
                                            </span>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <span class="product_badge badge_organic rounded-pill text-uppercase"
                                                  style="background:#d9534f;
                         color:white;
                         font-size:10px;
                         padding:3px 8px;
                         position:absolute;
                         bottom:10px;
                         left:10px;
                         z-index:2;">
                                                <i class="fas fa-leaf me-1"></i>Organik Değil
                                            </span>
                                        </li>
                                    }
                                    <li><span class="product_badge badge_discount position-absolute rounded-pill">@x.Category.CategoryName</span></li>
                                </ul>
                                <ul class="product_action_btns ul_li_block d-flex">
                                    <li><a class="tooltips" data-placement="top" title="Mağazaya Git" href="/Shop/ShopList"><i class="fas fa-search"></i></a></li>
                                    <li><a class="tooltips" data-placement="top" title="Sepete Ekle" href="/Shop/ShopList"><i class="fas fa-shopping-bag"></i></a></li>
                                </ul>
                            </div>
                            <div class="product_content">
                                <h3 class="product_title"><a href="/Shop/ShopList">@x.ProductName</a></h3>
                                <div class="product_price"><span class="sale_price pe-1">@x.Price₺</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- new arrivals section end -->
