@model Quality
<!-- quality section start -->
<section class="quality_section2 position-relative sec_space_small" data-aos="fade-up" data-aos-duration="2000">
    <div class="quality_section_wrap2">
        <div class="container">
            <div class="quality_top_content text-center">
                <div class="quality_sub_title d-flex justify-content-center align-items-center pb-2">
                    <i class="far fa-circle"></i>
                    <i class="far fa-circle"></i>
                    <i class="far fa-circle"></i>
                    <span class="px-2">ÇİFTLİĞİMİZDEN TAZE</span>
                    <i class="far fa-circle"></i>
                    <i class="far fa-circle"></i>
                    <i class="far fa-circle"></i>
                </div>
                <div class="quality_top_title2 pb-5">
                    <h2>@Model.MainTitle</h2>
                </div>
            </div>
            <div class="quality_inner_content2 position-relative">
                <div class="quality_content2_img1 position-absolute d-flex justify-content-center align-items-center text-end"
                     data-aos="fade-left" data-aos-duration="1000">
                    <div class="quality_text">
                        <div class="quality_title2">
                            <h4 class="text-uppercase">@Model.Item1Label</h4>
                        </div>
                        <div class="quality_desc2">
                            <p>@Model.Item1Description</p>
                        </div>
                    </div>
                    <div class="quality_img2 d-flex justify-content-center align-items-center ms-4">
                        <img src="@Model.Item1ImageUrl" alt="@Model.Item1Label">
                    </div>
                </div>
                <div class="quality_content2_img2 position-absolute d-flex justify-content-center align-items-center"
                     data-aos="fade-left" data-aos-duration="1500">
                    <div class="quality_img2 d-flex justify-content-center align-items-center me-4">
                        <img src="@Model.Item2ImageUrl" alt="@Model.Item2Label">
                    </div>
                    <div class="quality_text">
                        <div class="quality_title2">
                            <h4 class="text-uppercase">@Model.Item2Label</h4>
                        </div>
                        <div class="quality_desc2">
                            <p>@Model.Item2Description</p>
                        </div>
                    </div>
                </div>
                <div class="quality_middle_gallery2 img_moving_anim1 text-center">
                    <img src="@Model.MainImageUrl" alt="Organik Ürün">
                </div>
                <div class="quality_content2_img3 position-absolute d-flex justify-content-center align-items-center"
                     data-aos="fade-right" data-aos-duration="1000">
                    <div class="quality_text text-end">
                        <div class="quality_title2">
                            <h4 class="text-uppercase">@Model.Item3Label</h4>
                        </div>
                        <div class="quality_desc2">
                            <p>@Model.Item3Description</p>
                        </div>
                    </div>
                    <div class="quality_img2 d-flex justify-content-center align-items-center ms-4">
                        <img src="@Model.Item3ImageUrl" alt="@Model.Item3Label">
                    </div>
                </div>
                <div class="quality_content2_img4 position-absolute d-flex justify-content-center align-items-center"
                     data-aos="fade-right" data-aos-duration="1500">
                    <div class="quality_img2 d-flex justify-content-center align-items-center me-4">
                        <img src="@Model.Item4ImageUrl" alt="@Model.Item4Label">
                    </div>
                    <div class="quality_text">
                        <div class="quality_title2">
                            <h4 class="text-uppercase">@Model.Item4Label</h4>
                        </div>
                        <div class="quality_desc2">
                            <p>@Model.Item4Description</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img class="quality2_left_thumb position-absolute" src="/organic-html/assets/images/shapes/shape19.png" alt="">
    <img class="quality2_righttop_thumb position-absolute" src="/organic-html/assets/images/shapes/shape7.png" alt="">
    <img class="quality2_rightbottom_thumb position-absolute" src="/organic-html/assets/images/shapes/shape10.png" alt="">
</section>
<!-- quality section end -->
